In [101]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline

# Loading datasets direcly from online

Here I have loaded all of the datasets directly online via the pandas library, I also have renamed the columns as indicated with the associated dataset documentation.

To ensure that the first row does not get interpreted as headers for when the sets are read in (since the filea are in .dat format), following additional argument was specificied below along with the delimiter:

    header = None
    sep = ","
    
** Additional cleansing step:** The data also uses '/N' to denote NaN values, so additional argumnent was also used:
    
    na_values=['\\N']

## Airports

In [102]:
airports = pd.read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat", sep=",", header=None, na_values=['\\N'])
airports.rename(columns={0:"Airport ID", 1:"Name", 2:"City", 3:"Country", 4:"IATA/FAA", 5:"ICAO", 6:"Latitude", 7:"Longtitude", 8:"Altitude", 9:"Timezone", 10:"DST", 11:"Tz database time zone"}, inplace=True)

airports.head()

,Airport ID,Name,City,Country,IATA/FAA,ICAO,Latitude,Longtitude,Altitude,Timezone,DST,Tz database time zone
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby

In [103]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8107 entries, 0 to 8106
Data columns (total 12 columns):
Airport ID               8107 non-null int64
Name                     8107 non-null object
City                     8107 non-null object
Country                  8107 non-null object
IATA/FAA                 5880 non-null object
ICAO                     6785 non-null object
Latitude                 8107 non-null float64
Longtitude               8107 non-null float64
Altitude                 8107 non-null int64
Timezone                 8107 non-null float64
DST                      8107 non-null object
Tz database time zone    8015 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 760.1+ KB

## Airlines

In [104]:
airlines = pd.read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat", sep=",", header=None, na_values=['\\N'])
airlines.rename(columns={0:"Airline ID", 1:"Airline", 2:"Alias", 3:"IATA", 4:"ICAO", 5:"Callsign", 6:"Country", 7:"Active"}, inplace=True)

airlines.head()

,Airline ID,Airline,Alias,IATA,ICAO,Callsign,Country,Active
0,1,Private flight,NaN,-,NaN,NaN,NaN,Y
1,2,135 Airways,NaN,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,NaN,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,NaN,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,NaN,NaN,TFU,NaN,Russia,N

In [105]:
airlines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6048 entries, 0 to 6047
Data columns (total 8 columns):
Airline ID    6048 non-null int64
Airline       6048 non-null object
Alias         138 non-null object
IATA          1460 non-null object
ICAO          5796 non-null object
Callsign      5302 non-null object
Country       6030 non-null object
Active        6048 non-null object
dtypes: int64(1), object(7)
memory usage: 378.1+ KB

## Routes

In [106]:
routes = pd.read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/routes.dat", sep=",", header=None, na_values=['\\N'])
routes.rename(columns={0:"Airline", 1:"Airline ID", 2:"Source Airport", 3:"Source Airport ID", 4:"Destination Airport", 5:"Destination Airport ID", 6:"Codeshare", 7:"Stops", 8:"Equipment"}, inplace=True)
routes.head()

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2
2,2B,410.0,ASF,2966.0,MRV,2962.0,NaN,0,CR2
3,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2
4,2B,410.0,CEK,2968.0,OVB,4078.0,NaN,0,CR2

In [107]:
routes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
Airline                   67663 non-null object
Airline ID                66985 non-null float64
Source Airport            67663 non-null object
Source Airport ID         67424 non-null float64
Destination Airport       67663 non-null object
Destination Airport ID    67421 non-null float64
Codeshare                 14597 non-null object
Stops                     67663 non-null int64
Equipment                 67645 non-null object
dtypes: float64(3), int64(1), object(5)
memory usage: 4.6+ MB

Here I have chosen to merge the routes table with the airports twice via an inner join in order to obtain the Source Airport and Destination Airport coordinates

This may not be an elegant solution due to the table having too many columns, although I can further "clense" the data via copying certain columns into a new Dataframe

In [108]:
pairs = routes.merge(airports, right_on = "Airport ID", left_on = 'Source Airport ID')\
        .merge(airports, right_on="Airport ID", left_on="Destination Airport ID", suffixes=("_start", "_end"))

pairs

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment,Airport ID_start,...,City_end,Country_end,IATA/FAA_end,ICAO_end,Latitude_end,Longtitude_end,Altitude_end,Timezone_end,DST_end,Tz database time zone_end
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2,2965,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2,2966,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
2,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2,2968,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
3,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2,4029,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
4,S7,4329.0,DME,4029.0,KZN,2990.0,NaN,0,319,4029,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
5,U6,5234.0,DME,4029.0,KZN,2990.0,NaN,0,320,4029,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
6,UN,5067.0,DME,4029.0,KZN,2990.0,NaN,0,735,4029,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
7,2B,410.0,EGO,6156.0,KZN,2990.0,NaN,0,CR2,6156,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
8,2B,410.0,LED,2948.0,KZN,2990.0,NaN,0,CR2,2948,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
9,FV,641.0,LED,2948.0,KZN,2990.0,NaN,0,A81,2948,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
10,SU,130.0,LED,2948.0,KZN,2990.0,NaN,0,A81,2948,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
11,2B,410.0,SVX,2975.0,KZN,2990.0,NaN,0,CR2,2975,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
12,FZ,14485.0,DWC,8076.0,KZN,2990.0,NaN,0,73H,8076,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
13,HY,5281.0,FEG,6149.0,KZN,2990.0,NaN,0,320,6149,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
14,HY,5281.0,SKD,2981.0,KZN,2990.0,NaN,0,320,2981,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
15,UR,15814.0,UFA,2992.0,KZN,2990.0,NaN,0,AT7,2992,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
16,8Q,3788.0,AYT,1688.0,KZN,2990.0,NaN,0,321,1688,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
17,SU,130.0,SVO,2985.0,KZN,2990.0,NaN,0,320 319 SU9 321,2985,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
18,KC,1006.0,ALA,2908.0,KZN,2990.0,NaN,0,E90,2908,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
19,SZ,10122.0,DYU,2979.0,KZN,2990.0,NaN,0,737,2979,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
20,U6,5234.0,DYU,2979.0,KZN,2990.0,NaN,0,320,2979,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
21,YK,1943.0,FRU,2912.0,KZN,2990.0,NaN,0,146,2912,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
22,TK,4951.0,IST,1701.0,KZN,2990.0,NaN,0,738 319,1701,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
23,SZ,10122.0,LBD,6147.0,KZN,2990.0,NaN,0,737,6147,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
24,U6,5234.0,LBD,6147.0,KZN,2990.0,NaN,0,320,6147,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
25,G9,329.0,SHJ,2191.0,KZN,2990.0,NaN,0,320,2191,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
26,HY,5281.0,TAS,2983.0,KZN,2990.0,NaN,0,320,2983,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
27,YK,1943.0,OSS,2913.0,KZN,2990.0,NaN,0,146,2913,...,Kazan,Russia,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow
28,7J,9531.0,AER,2965.0,DYU,2979.0,NaN,0,735,2965,...,Dushanbe,Tajikistan,DYU,UTDD,38.543333,68.825000,2575,5.0,U,Asia/Dushanbe
29,S7,4329.0,CEK,2968.0,DYU,2979.0,NaN,0,319,2968,...,Dushanbe,Tajikistan,DYU,UTDD,38.543333,68.825000,2575,5.0,U,Asia/Dushanbe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67172,WF,5439.0,VDS,4328.0,BJF,637.0,NaN,0,DH2,4328,...,Batsfjord,Norway,BJF,ENBS,70.600278,29.692500,490,1.0,E,Europe/Oslo
67173,WF,5439.0,HFT,4325.0,HVG,4326.0,NaN,0,DH1 DH2,4325,...,Honningsvag,Norway,HVG,ENHV,70.990000,25.830000,46,1.0,E,Europe/Oslo
67174,WF,5439.0,MEH,4327.0,HVG,4326.0,NaN,0,DH2 DH1,4327,...,Honningsvag,Norway,HVG,ENHV,70.990000,25.830000,46,1.0,E,Europe/Oslo
67175,WJ,5399.0,YHR,5503.0,ZTB,5473.0,NaN,0,DHT,5503,...,Tête-à-la-Baleine,Canada,ZTB,CTB6,50.674400,-59.383600,107,-4.0,A,America/Blanc-Sablon
67176,WJ,5399.0,ZLT,5474.0,ZTB,5473.0,NaN,0,DHT,5474,...,Tête-à-la-Baleine,Canada,ZTB,CTB6,50.674400,-59.383600,107,-4.0,A,America/Blanc-Sablon
67177,WT,NaN,WNN,5466.0,SUR,5464.0,NaN,0,BEH,5466,...,Summer Beaver,Canada,SUR,CJV7,52.708600,-88.541900,832,-5.0,A,America/Toronto
67178,WT,NaN,YFH,5491.0,YLH,5510.0,NaN,0,BEH,5491,...,Lansdowne House,Canada,YLH,CYLH,52.195600,-87.934200,834,-5.0,A,America/Toronto
67179,WT,NaN,YWP,5533.0,YLH,5510.0,NaN,0,BEH PL2,5533,...,Lansdowne House,Canada,YLH,CYLH,52.195600,-87.934200,834,-5.0,A,America/Toronto
67180,WT,NaN,YFH,5491.0,YOG,5470.0,NaN,0,PL2,5491,...,Ogoki Post,Canada,YOG,CNT3,51.658600,-85.901700,594,-5.0,A,America/Toronto
67181,WT,NaN,YHP,5471.0,YNO,5467.0,NaN,0,BEH,5471,...,North Spirit Lake,Canada,YNO,CKQ3,52.490000,-92.971100,1082,-6.0,A,America/Winnipeg
67182,WT,NaN,YPM,5521.0,YNO,5467.0,NaN,0,PL2 BEH,5521,...,North Spirit Lake,Canada,YNO,CKQ3,52.490000,-92.971100,1082,-6.0,A,America/Winnipeg
67183,WT,NaN,YNO,5467.0,YHP,5471.0,NaN,0,PL2 BEH,5467,...,Poplar Hill,Canada,YHP,CPV7,52.113300,-94.255600,1095,-6.0,A,America/Winnipeg
67184,WT,NaN,YPM,5521.0,YHP,5471.0,NaN,0,BEH,5521,...,Poplar Hill,Canada,YHP,CPV7,52.113300,-94.255600,1095,-6.0,A,America/Winnipeg
67185,WT,NaN,YWP,5533.0,YPL,105.0,NaN,0,BEH,5533,...,Pickle Lake,Canada,YPL,CYPL,51.446388,-90.214167,1267,-5.0,A,America/Coral_Harbour
67186,WT,NaN,ZSJ,5548.0,KEW,8355.0,NaN,0,BEH,5548,...,Keewaywin,Canada,KEW,CPV8,52.991111,-92.836389,988,-6.0,A,America/Winnipeg
67187,YN,NaN,YAT,5482.0,YPO,5522.0,NaN,0,DH1,5482,...,Peawanuck,Canada,YPO,CYPO,54.988100,-85.443300,173,-5.0,A,America/Toronto
67188,YN,NaN,YAT,5482.0,ZKE,5543.0,NaN,0,DH1,5482,...,Kashechewan,Canada,ZKE,CZKE,52.282500,-81.677800,35,-5.0,A,America/Toronto
67189,YN,NaN,YFA,5490.0,ZKE,5543.0,NaN,0,DH1,5490,...,Kashechewan,Canada,ZKE,CZKE,52.282500,-81.677800,35,-5.0,A,America/Toronto
67190,YN,NaN,YKQ,5507.0,YNS,5501.0,NaN,0,DH8,5507,...,Nemiscau,Canada,YNS,CYHH,51.691100,-76.135600,802,-5.0,A,America/Toronto
67191,YN,NaN,YMT,5514.0,YNS,5501.0,NaN,0,DH8,5514,...,Nemiscau,Canada,YNS,CYHH,51.691100,-76.135600,802,-5.0,A,America/Toronto
67192,YN,NaN,YKQ,5507.0,ZEM,5539.0,NaN,0,DH8,5507,...,Eastmain River,Canada,ZEM,CZEM,52.226400,-78.522500,24,-5.0,A,America/Toronto
67193,YN,NaN,YNC,5516.0,ZEM,5539.0,NaN,0,DH8,5516,...,Eastmain River,Canada,ZEM,CZEM,52.226400,-78.522500,24,-5.0,A,America/Toronto
67194,YN,NaN,YKU,5472.0,YNC,5516.0,NaN,0,DH8,5472,...,Wemindji,Canada,YNC,CYNC,53.010600,-78.831100,66,-5.0,A,America/Toronto
67195,YN,NaN,ZEM,5539.0,YNC,5516.0,NaN,0,DH8,5539,...,Wemindji,Canada,YNC,CYNC,53.010600,-78.831100,66,-5.0,A,America/Toronto
67196,YN,NaN,YMO,91.0,YFA,5490.0,NaN,0,DH1,91,...,Fort Albany,Canada,YFA,CYFA,52.201400,-81.696900,48,-5.0,A,America/Toronto
67197,YN,NaN,ZKE,5543.0,YFA,5490.0,NaN,0,DH1,5543,...,Fort Albany,Canada,YFA,CYFA,52.201400,-81.696900,48,-5.0,A,America/Toronto
67198,YN,NaN,YPO,5522.0,YAT,5482.0,NaN,0,DH1,5522,...,Attawapiskat,Canada,YAT,CYAT,52.927500,-82.431900,31,-5.0,A,America/Toronto
67199,YN,NaN,ZKE,5543.0,YAT,5482.0,NaN,0,DH1,5543,...,Attawapiskat,Canada,YAT,CYAT,52.927500,-82.431900,31,-5.0,A,America/Toronto
67200,ZL,4178.0,JCK,6276.0,RCM,3360.0,NaN,0,SF3,6276,...,Richmond,Australia,RCM,YSRI,-33.600556,150.780833,67,10.0,O,Australia/Sydney
67201,ZL,4178.0,TRO,6794.0,GFN,6792.0,NaN,0,SF3,6794,...,Grafton,Australia,GFN,YGFN,-29.759400,153.030000,110,10.0,U,Australia/Sydney

In [109]:
pairs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67202 entries, 0 to 67201
Data columns (total 33 columns):
Airline                        67202 non-null object
Airline ID                     66548 non-null float64
Source Airport                 67202 non-null object
Source Airport ID              67202 non-null float64
Destination Airport            67202 non-null object
Destination Airport ID         67202 non-null float64
Codeshare                      14563 non-null object
Stops                          67202 non-null int64
Equipment                      67184 non-null object
Airport ID_start               67202 non-null int64
Name_start                     67202 non-null object
City_start                     67202 non-null object
Country_start                  67202 non-null object
IATA/FAA_start                 67202 non-null object
ICAO_start                     66690 non-null object
Latitude_start                 67202 non-null float64
Longtitude_start               67202 non-null float64
Altitude_start                 67202 non-null int64
Timezone_start                 67202 non-null float64
DST_start                      67202 non-null object
Tz database time zone_start    67164 non-null object
Airport ID_end                 67202 non-null int64
Name_end                       67202 non-null object
City_end                       67202 non-null object
Country_end                    67202 non-null object
IATA/FAA_end                   67202 non-null object
ICAO_end                       66682 non-null object
Latitude_end                   67202 non-null float64
Longtitude_end                 67202 non-null float64
Altitude_end                   67202 non-null int64
Timezone_end                   67202 non-null float64
DST_end                        67202 non-null object
Tz database time zone_end      67165 non-null object
dtypes: float64(9), int64(5), object(19)
memory usage: 17.4+ MB

## Defining distance calculation function

Now that we have a table containing routes data now incorporating the coordinates of the source and destination airports for each of the journeys, now we can calcuate the distance.

For the sake of readability, I have chosen to define seperate function, I will then use the .apply method on the above table to calculate the disance in km.

Now there are 2 possible paths that I can take in order to calculate this distance:

1) assuming that the earth is spherical

2) assuming the earth as a ellipsoidal model

In order to achieve this, I have chosen to use the geopy package to calculate both distances

In [110]:
from geopy.distance import vincenty
from geopy.distance import great_circle

In [111]:
# applying use of Thaddeus Vincenty's ellipsoidal model
def ellip_dist(row):
    start =  (row["Latitude_start"], row["Longtitude_start"])
    end = (row["Latitude_end"], row["Longtitude_end"])
    return (vincenty(start,end)).kilometers

# Asumming that the Earth is spherical
def sph_dist(row):
    start =  (row["Latitude_start"], row["Longtitude_start"])
    end = (row["Latitude_end"], row["Longtitude_end"])
    return (great_circle(start,end)).kilometers

In [112]:
pairs["Elliptical_dist(km)"] = pairs.apply(ellip_dist, axis=1)
pairs["Spherical_dist(km)"] = pairs.apply(ellip_dist, axis=1)

pairs.head()

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment,Airport ID_start,...,IATA/FAA_end,ICAO_end,Latitude_end,Longtitude_end,Altitude_end,Timezone_end,DST_end,Tz database time zone_end,Elliptical_dist(km),Spherical_dist(km)
0,2B,410.0,AER,2965.0,KZN,2990.0,NaN,0,CR2,2965,...,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow,1507.986742,1507.986742
1,2B,410.0,ASF,2966.0,KZN,2990.0,NaN,0,CR2,2966,...,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow,1040.937999,1040.937999
2,2B,410.0,CEK,2968.0,KZN,2990.0,NaN,0,CR2,2968,...,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow,773.126233,773.126233
3,2B,410.0,DME,4029.0,KZN,2990.0,NaN,0,CR2,4029,...,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow,718.100147,718.100147
4,S7,4329.0,DME,4029.0,KZN,2990.0,NaN,0,319,4029,...,KZN,UWKD,55.606186,49.278728,411,4.0,N,Europe/Moscow,718.100147,718.100147

** Reference calcuation:** From AER to KZN ~ 1500km

From the table above, both distance calculations are close to that stated value --> both functions work. Next step is to aggregate a max and min function in order to return longest and shortest distance flights.

I have done this though boolean indexing

In [113]:
pairs[pairs["Spherical_dist(km)"] == pairs["Spherical_dist(km)"].max()]

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment,Airport ID_start,...,IATA/FAA_end,ICAO_end,Latitude_end,Longtitude_end,Altitude_end,Timezone_end,DST_end,Tz database time zone_end,Elliptical_dist(km),Spherical_dist(km)
18805,AA,24.0,SYD,3361.0,DFW,3670.0,Y,0,744,3361,...,DFW,KDFW,32.896828,-97.037997,607,-6.0,A,America/Chicago,13804.38509,13804.38509
18806,QF,4089.0,SYD,3361.0,DFW,3670.0,NaN,0,744,3361,...,DFW,KDFW,32.896828,-97.037997,607,-6.0,A,America/Chicago,13804.38509,13804.38509

In [114]:
pairs[pairs["Spherical_dist(km)"] == pairs["Spherical_dist(km)"].min()]

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment,Airport ID_start,...,IATA/FAA_end,ICAO_end,Latitude_end,Longtitude_end,Altitude_end,Timezone_end,DST_end,Tz database time zone_end,Elliptical_dist(km),Spherical_dist(km)
64271,IL,10121.0,PKN,3910.0,PKN,3910.0,NaN,0,AT7,3910,...,PKN,WAOI,-2.705197,111.673208,75,7.0,N,Asia/Jakarta,0.0,0.0

# Further aggregations (bonus points)

I have carried out further aggregation grouping the maximum distances travelled (in km) according to: Airline, Source Airport, Destination Airport and Equipment (plane type)

In [127]:
pairs.groupby("Airline")["Spherical_dist(km)"].max().reset_index()

    Airline  Spherical_dist(km)
0        2B         1660.297646
1        2G         1973.865307
2        2I          615.183608
3        2J         1749.065329
4        2K         1091.908268
5        2L         3337.466561
6        2N          846.069262
7        2O           91.732147
8        2P         6946.876499
9        2Z         1116.579860
10       3E          324.662442
11       3F           91.845104
12       3G         4864.786371
13       3H         1127.807591
14       3J         1988.321951
15       3K         3895.048807
16       3L          852.305745
17       3M          630.749286
18       3O         3356.782463
19       3P          284.789634
20       3R         2988.323316
21       3S         1437.074394
22       3U         8671.082393
23       4B          380.152354
24       4D          392.721272
25       4E           62.300803
26       4G         2368.250010
27       4H         5239.437364
28       4K          385.013053
29       4M         8506.589677
..      ...                 ...
538      XY         7973.624440
539      Y4         3237.830695
540      Y5         1924.238573
541      Y7         4549.239878
542      Y8          815.592946
543      Y9         1203.002387
544      YC         2919.802139
545      YI          594.205700
546      YJ          531.022688
547      YK         3614.666937
548      YM         2004.058979
549      YN          644.846022
550      YO         2224.726015
551      YQ         1989.035410
552      YR          124.897668
553      YT          483.272460
554      Z2         3018.889401
555      Z3           91.845104
556      Z4         3205.899504
557      Z6         1373.529977
558      Z8         1022.443045
559      Z9         2014.697926
560      ZB         4148.300634
561      ZD          934.797954
562      ZE         3664.811777
563      ZH         8047.223354
564      ZI         4124.565016
565      ZK          675.370517
566      ZL         1689.186281
567      ZM         2949.910051

[568 rows x 2 columns]

In [121]:
pairs.groupby("Source Airport")["Spherical_dist(km)"].max().reset_index()

     Source Airport  Spherical_dist(km)
0               AAE         1874.582918
1               AAL         2507.638534
2               AAN         2595.697589
3               AAQ         1713.446825
4               AAR         2458.627088
5               AAT          442.912914
6               AAX          110.220258
7               AAY          855.797606
8               ABA         3386.162072
9               ABD         1244.820134
10              ABE         1638.246804
11              ABI          253.809240
12              ABJ         5125.935508
13              ABL          208.262652
14              ABM          746.937997
15              ABQ         2937.884247
16              ABR          413.577651
17              ABS          215.055111
18              ABT         1078.410024
19              ABV         4761.993775
20              ABX          451.289863
21              ABY          234.048553
22              ABZ         1578.191286
23              ACA         2461.538822
24              ACC         8225.012598
25              ACE         3428.637903
26              ACH          529.478904
27              ACI          151.274080
28              ACK          339.265865
29              ACR          400.061993
...             ...                 ...
3236            ZEM           89.732855
3237            ZFM          115.593457
3238            ZFN          145.631698
3239            ZGU          147.779003
3240            ZHA         2173.547727
3241            ZHY         1030.006997
3242            ZIG          274.740992
3243            ZIH         2475.913298
3244            ZKE           88.099499
3245            ZKG           37.376026
3246            ZLO         2138.361295
3247            ZLT           47.867142
3248            ZMT          819.140357
3249            ZNE         1017.178430
3250            ZNZ         6899.318914
3251            ZOS          106.756063
3252            ZPB          420.754321
3253            ZQN         1940.587929
3254            ZQW         3115.705249
3255            ZRH        10309.694000
3256            ZRJ          139.772438
3257            ZSA          609.889896
3258            ZSE          254.965900
3259            ZSJ          224.355582
3260            ZTB           33.641072
3261            ZTH         2484.701284
3262            ZUH         2026.783608
3263            ZUM          246.039833
3264            ZVK          535.895216
3265            ZYL          193.876770

[3266 rows x 2 columns]

In [122]:
pairs.groupby("Destination Airport")["Spherical_dist(km)"].max().reset_index()

     Destination Airport  Spherical_dist(km)
0                    AAE         1874.582918
1                    AAL         2507.638534
2                    AAN         2595.697589
3                    AAQ         1713.446825
4                    AAR         2458.627088
5                    AAT          442.912914
6                    AAX          317.132950
7                    AAY          855.797606
8                    ABA         3386.162072
9                    ABD         1244.820134
10                   ABE         1638.246804
11                   ABI          253.809240
12                   ABJ         5119.643942
13                   ABL          208.262652
14                   ABM          746.937997
15                   ABQ         2937.884247
16                   ABR          413.577651
17                   ABS          215.055111
18                   ABT         1078.410024
19                   ABV         4761.993775
20                   ABX          451.289863
21                   ABY          234.048553
22                   ABZ         1578.191286
23                   ACA         2461.538822
24                   ACC         8225.012598
25                   ACE         3428.637903
26                   ACH          529.478904
27                   ACI          151.274080
28                   ACK          339.265865
29                   ACR          400.061993
...                  ...                 ...
3239                 ZEM           89.732855
3240                 ZFM          115.593457
3241                 ZFN          145.631698
3242                 ZGU          147.779003
3243                 ZHA         2173.547727
3244                 ZHY         1030.006997
3245                 ZIG          274.740992
3246                 ZIH         2475.913298
3247                 ZKE           88.099499
3248                 ZKG           37.376026
3249                 ZLO         2138.361295
3250                 ZLT           47.867142
3251                 ZMT          819.140357
3252                 ZNE         1017.178430
3253                 ZNZ         3894.965268
3254                 ZOS          826.178381
3255                 ZPB          420.754321
3256                 ZQN         2399.735856
3257                 ZQW         3115.705249
3258                 ZRH        10309.694000
3259                 ZRJ          317.499287
3260                 ZSA         2375.994172
3261                 ZSE          254.965900
3262                 ZSJ          343.049328
3263                 ZTB           33.641072
3264                 ZTH         2484.701284
3265                 ZUH         2026.783608
3266                 ZUM          246.039833
3267                 ZVK          535.895216
3268                 ZYL         8032.209836

[3269 rows x 2 columns]

In [123]:
pairs.groupby("Equipment")["Spherical_dist(km)"].max().reset_index()

                    Equipment  Spherical_dist(km)
0                 73W 733 73C          934.458652
1                         777         7082.197169
2                         CNA           58.271415
3                         100         2206.795661
4                     100 318          864.371198
5                     100 319          907.677022
6                 100 319 320         1287.596715
7                 100 319 ER4         1475.078539
8             100 319 ER4 BEH          616.622809
9             100 319 F70 320          961.833297
10        100 319 F70 320 DH4          547.661862
11    100 319 F70 320 DH4 CRJ          547.661862
12                    100 320         1077.358011
13                100 320 319          495.505257
14        100 320 321 319 F70          804.760205
15            100 320 AB4 M82          692.433887
16                100 320 AR1         1008.611568
17        100 320 DH4 F70 321          877.686770
18            100 320 ER4 319          276.628835
19                100 320 M82         1054.958248
20            100 320 M82 AB4          329.822860
21                    100 32S          907.677022
22                    100 737          816.608772
23                    100 AR1          922.621479
24                100 AR1 319          145.157501
25                100 AR1 320          561.658276
26                    100 AT7          572.442451
27                    100 DH4          939.193173
28            100 DH4 320 F70          403.475082
29                100 DH4 F70          939.193173
...                       ...                 ...
3915                      SH6          284.789634
3916                      SU9         2086.123985
3917                  SU9 319          677.242907
3918                  SU9 320         1149.065120
3919              SU9 320 319          879.185099
3920                  SU9 737         1498.579052
3921                  SU9 73G         2004.058979
3922              SU9 DH4 73W         1547.544483
3923                      SWM          670.627866
3924                  SWM AT4          792.902207
3925                  SWM CRJ          242.528205
3926                      T20         4712.513009
3927          T20 320 A58 319         2136.756653
3928                  T20 744         3152.860874
3929                  T20 763         4914.364442
3930                      TU3         1406.306659
3931                  TU3 AN4          815.271067
3932                  TU3 M80          537.677017
3933                      TU5         3934.437713
3934                  TU5 738         1973.865307
3935                      YK2         1864.881413
3936                  YK2 320          654.188686
3937                  YK2 E90          704.536128
3938                      YK4          648.213155
3939                      YN2          167.167396
3940                  YN2 BNI          109.602248
3941              YN2 BNI DHT          109.602248
3942                  YN2 DHT          204.230317
3943              YN2 DHT BNI          204.230317
3944                      YN7          551.733078

[3945 rows x 2 columns]